<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración Productos - FERREMAS</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/CSS/inicio.css">
</head>
<body>

  <div class="row">
    <div class="col-10" id="navbar-container"></div>
    <div class="col-2" id="datos"></div>
  </div>
  <div class="row pt-4">
      <div class="col-9 d-flex justify-content-end">
        <a href="/admin/agregar"><button class="btn btn-success float-right">Agrega un Producto</button></a>
      </div>
    </div>

    <div class="container d-flex text-center col-6 justify-content-center" style="padding-top: 2%; padding-bottom: 2%;">
      <table class="table border border-primary">
            <thead>
              <tr>
                <th scope="col">SKU Producto</th>
                <th scope="col">Tipo de Producto</th>
                <th scope="col">Nombre producto</th>
                <th scope="col">Stock</th>
                <th scope="col">¿Disponible?</th>
                <th scope="col">Valor compra producto</th>
                <th scope="col">Valor venta producto</th>
                <th scope="col">IMAGEN</th>
                <th scope="col">Eliminar Producto</th>
                <th scope="col">Editar Producto</th>
                <th scope="col">Modificar Stock</th>
              </tr>
            </thead>
            <tbody>
              <% prods.forEach(prod => { %>
                <tr>
                  <th scope="row"><%= prod.NUMERITO %></th>
                  <td><%= prod.TIPOP %></td>
                  <td><%= prod.NOMBRE %></td>
                  <td><%= prod.CANTIDAD %></td>
                  <% if(prod.DISPO == 1){ %>
                    <td>Sí</td>
                  <% } else { %>
                    <td>No</td>
                  <% } %>
                  <td><%= prod.COMPRA %></td>
                  <td><%= prod.VENTA %></td>
                  <td><img src="/Images/Productos/<%= prod.NOMIMAGEN %>" alt="<%= prod.NOMIMAGEN %>" class="img-fluid" style="width: 100%; height: 100%;"></td>
                  <% if(prod.DISPO == 1){ %>
                    <td>
                      <form action="/deshabilitar/<%= prod.NUMERITO %>" method="post" onsubmit="return confirm('¿Estás seguro que deseas deshabilitar el producto <%= prod.NUMERITO %>?');">
                        <button type="submit" class="btn btn-danger" >Deshabilitar Producto</button>
                      </form>
                    </td>
                  <% } else { %>
                    <td>
                      <form action="/habilitar/<%= prod.NUMERITO %>" method="post" onsubmit="return confirm('¿Estás seguro que deseas habilitar el producto <%= prod.NUMERITO %>?');">
                        <button type="submit" class="btn btn-secondary" >Habilitar Producto</button>
                      </form>
                    </td>
                  <% } %>
                  <td>
                    <form action="/admin/editar/<%= prod.NUMERITO %>" method="get" enctype="multipart/form-data" onsubmit="return confirm('¿Estás seguro de que deseas editar el producto <%= prod.NUMERITO %>?');">
                      <button type="submit" class="btn btn-naranja">Editar Producto</button>
                    </form>
                  </td>
                  <td>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#stock" data-bs-whatever="<%= prod.NUMERITO %>">
                      Cambiar Stock
                    </button>
                  </td>
                </tr>
              <% }); %>
            </tbody>
      </table>
    </div>

  <div class="modal fade" id="stock" tabindex="-1" aria-labelledby="stockModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 hola" id="stockModal">Cambia el stock</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="contenido">
      </div>
    </div>
  </div>
  </div>
  
    <div id="footer-container"></div>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/@popperjs/core/dist/umd/popper.js"></script>
    <script src="/Js/fetchNav.js"></script>
    <script src="/Js/stockProd.js"></script>
    
</body>
</html>