<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpeg" href="/Images/Logo Ferremas.png">
  <title>Formulario de Servicio</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
</head>

<body>
  <div class="row">
    <div class="col-10" id="navbar-container"></div>
    <div class="col-2" id="datos"></div>
  </div>

  <div class="container mt-4">
    <form action="/admin/editar/prod/<%= prod.NUMERITO %>" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-body">
              <h2 class="card-title text-center">Formulario de Producto</h2>
              <div class="mb-3">
                <label for="tipoProducto" class="form-label">Producto:</label>
                <select class="form-select" id="tipoProd" name="tipoProd">
                  <option value="">Selecciona un Tipo de Producto:</option>
                  <% tp_producto.forEach(tipo => { %>
                    <option value="<%= tipo.ITP %>">
                      <%= tipo.NOMBRE %>
                    </option>
                  <% }); %>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Nombre del Producto:</label>
                <input type="text" class="form-control" id="nombreProd" minlength="5" name="nombreProd" value="<%= prod.NOM %>" required>
                <span id="charNom"></span>
              </div>
              <div class="mb-3">
                <label  class="form-label">Stock:</label>
                <input type="number" min="10" class="form-control" id="stockProd" name="stockProd" value="<%= prod.CANTIDAD %>" required>
                <span id="valStock"></span>
              </div>
      
              <div class="mb-3">
                <label class="form-label">Costo del Producto:</label>
                <input type="number" min="100" class="form-control" id="costoProducto" name="costoProducto" value="<%= prod.COSTO %>" required>
                <span id="valCosto"></span>
              </div>
              <div class="mb-3">
                <label  class="form-label">Valor venta del Producto:</label>
                <input type="number" min="100" class="form-control" id="ventaProducto" name="ventaProducto" value="<%= prod.VENTA %>" required>
                <span id="valVenta"></span>
              </div>
              <div class="mb-3">
                <label class="form-label">Descripción del Producto:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" rows="4" minlength="20" maxlength="500"  placeholder="Describe el producto aquí. Mínimo 20 caracteres." required><%= prod.DES %></textarea>
                <span id="charDes"></span>
            </div>
              <div class="mb-3">
                <label class="form-label">Subir Imagen:</label>
                <input type="file" class="form-control" name="file" id="file" />
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </div>
    </form>
  </div>
   
  <div id="footer-container"></div>

  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/@popperjs/core/dist/umd/popper.js"></script>
  <!--SCRIPT DE LA BARRA DE NAVEGACIÓN-->
  <script src="/Js/fetchNav.js"></script>
  <!--SCRIPT PARA ALERTA SI ESTÁ VACÍO EL CARRITO-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const tpprod = document.getElementById("tipoProd");
      tpprod.value = "<%= prod.ITP %>";
    });

    document.querySelector('form').addEventListener('submit', function(event) {
      const tpprod = document.getElementById("tipoProd").value;
      const img = document.getElementById("file");
      if(tpprod!="<%= prod.ITP %>" && img.files.length == 0){
        alert("Debes subir una imagen, ya que estás cambiando el tipo de producto");
        event.preventDefault();
      }
    });
  </script>
  <script src="/Js/validacionIngresoEdit.js"></script>

</body>

</html>
