<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpeg" href="/Images/Logo Ferremas.png">
  <title> FERREMAS - Detalle del Producto </title>
  <link rel="stylesheet" href="/CSS/inicio.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
 
</head>

<body>
  <div class="row">
    <div class="col-10" id="navbar-container"></div>
    <div class="col-2" id="datos"></div>
  </div>
 

  <div class="container py-4">
    <div class="row">
      <div class="col-md-6">
          <img src="/Images/Productos/<%= prod.IMG %>" alt="Producto" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h1>
          <%= prod.NOMBRE %>
        </h1>
        <p>
          <%= prod.DES %>
        </p>
        <span class="badge bg-secondary">STOCK: <%= prod.CANTIDAD %></span>
        <p>MARCA: <%= prod.MRC %>
        </p>
        <p>MODELO: <%= prod.MDL %>
        </p>
        <p>ANCHO: <%= prod.ANC %>
        </p>
        <p>ALTO: <%= prod.ALT %>
        </p>
        <p>PESO: <%= prod.PS %>
        </p>
        <h3>
          <% if (Math.floor(prod.VAL/1000)>0 && prod.VAL%1000>0) { %>
            $<%= Math.floor(prod.VAL/1000) %>.<%= prod.VAL%1000 %> CLP
                <% } else if ((Math.floor(prod.VAL/1000)>0 && (prod.VAL%1000)==0)) { %>
                  $<%= Math.floor(prod.VAL/1000) %>.000 CLP
                    <% } else {%>
                      $<%= prod.VAL%1000 %> CLP
                        <% } %>
        </h3>
        <% if(tool.CANTIDAD>0){ %>
          <button class="btn btn-warning mt-2"
            onclick="event.stopPropagation(); aggCar(<%= tool.NUMERITO %>);">Agregar al carrito</button>
          <% }else{ %>
            <button class="btn btn-warning mt-2"
            onclick="event.stopPropagation(); aggCar(<%= tool.NUMERITO %>);" disabled>Agregar al carrito</button>
          <% } %>
      </div>
    </div>
  </div>


  <div id="footer-container"></div>
  
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/@popperjs/core/dist/umd/popper.js"></script>
  <script src="/Js/agregarCarrito.js"></script>
  <!--SCRIPT DE LA BARRA DE NAVEGACIÓN-->
  <script src="/Js/fetchNav.js"></script>
  <!--SCRIPT PARA ALERTA SI ESTÁ VACÍO EL CARRITO-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
</body>

</html>